# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

#testing reports
reports/
.nyc_output

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

#Files
.DS_Store

# Webstrom
.idea/
